#title{
	color: white;
    font-size: 38pt;
    text-align: center;		
	text-shadow: 1px 1px black;
}

#main{
	background: url(../images/popup_bg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#star_icon{    
	width: 5%;
    position: absolute;
    margin-left: 14.3%;
    margin-top: -5%;
}

#christmas_tree_icon{
    margin-top: -2%;
    height: 83%;
}

#stars_div{
    margin-top: 5%;
    width: 100%;
}

#stars_subdiv{
	float: left;
    width: 20%;
	position: absolute;
}

#stars_subdiv img{
    width: 24%;
}

.starsSubdiv_1{
    margin-left: 19%;
    position: absolute;
    margin-top: 45%;
}

.starsSubdiv_2{
    margin-left: 42%;
	position: absolute;
	margin-top: 19%;
}

.starsSubdiv_3{
    margin-left: 31%;
    position: absolute;
    margin-top: 48%;
}

.starsSubdiv_4{
    margin-left: 42%;
    position: absolute;
    margin-top: 43%;
}

.starsSubdiv_5{
    margin-left: 40%;
	position: absolute;
	margin-top: 25%;
}

.starsSubdiv_6{
    margin-left: 34%;
    position: absolute;
    margin-top: 40%;
}

.starsSubdiv_7{
    margin-left: 67%;
    position: absolute;
    margin-top: 41%;
}

.starsSubdiv_8{
    margin-left: 36%;
	position: absolute;
	margin-top: 20%;
}

.starsSubdiv_9{
    margin-left: 61%;
    position: absolute;
    margin-top: 44%;
}

.starsSubdiv_10{
    margin-left: 31%;
    position: absolute;
    margin-top: 15%;
}

.starsSubdiv_11{
    margin-left: 13%;
    position: absolute;
    margin-top: 44%;
}

.starsSubdiv_12{
    margin-left: 35%;
    position: absolute;
    margin-top: 8%;
}

.starsSubdiv_13{
    margin-left: 17%;
    position: absolute;
    margin-top: 37%;
}

.starsSubdiv_14{
    margin-left: 28%;
    position: absolute;
    margin-top: 36%;
}

.starsSubdiv_15{
    margin-left: 48%;
    position: absolute;
    margin-top: 39%;
}

.starsSubdiv_16{
    margin-left: 28%;
    position: absolute;
    margin-top: 26%;
}

.starsSubdiv_17{
    margin-left: 46%;
	position: absolute;
	margin-top: 30%;
}

.starsSubdiv_18{
    margin-left: 49%;
    position: absolute;
    margin-top: 23%;
}

.starsSubdiv_19{
    margin-left: 73%;
    position: absolute;
    margin-top: 45%;
}

.starsSubdiv_20{
    margin-left: 42%;
	position: absolute;
	margin-top: 12%;
}

.starsSubdiv_21{
    margin-left: 41%;
	position: absolute;
	margin-top: 5%;
}

.starsSubdiv_22{
    margin-left: 48%;
    position: absolute;
    margin-top: 48%;
}

.starsSubdiv_23{
    margin-left: 41%;
    position: absolute;
    margin-top: 34%;
}

.starsSubdiv_24{
    margin-left: 34%;
    position: absolute;
    margin-top: 29%;
}

.starsSubdiv_25{
    margin-left: 39%;
    position: absolute;
    margin-top: 49%;
}

#stars_subdiv #title{
    height: auto;
    text-align: center;
    font-size: 17pt;
    font-weight: bold;
    color: white;
    margin-left: 48%;
    text-shadow: 2px 2px 5px black;
    margin-top: 24%;
    position: absolute;
}

#no_open_msg{
	color: white;
    font-size: 12pt;
    font-style: italic;
    position: absolute;
    width: 50%;
    font-weight: bold;
    margin-top: -6%;
    margin-left: 5%;
    background-color: green;
    padding: 10px;
	z-index: 1
}

#content_div{
	color: white;
	background-color: darkred;
    font-size: 12pt;
    font-style: italic;
    position: absolute;
    width: 34%;
    font-weight: bold;
    margin-top: -32%;
    margin-left: 32%;
    padding: 10px;
    z-index: 1;
    padding: 10px;
    border-block-color: red;
    border-style: solid;
}

#day_counting{
	margin-left: -84%;
}

#did_you_know {
	margin-top: -8%;
    font-size: 20pt;
}
