#title{
	color: white;
    font-size: 38pt;
    text-align: center;		
	text-shadow: 1px 1px black;
}

#main{
	background-color: red;
}


#stars_div{
    margin-top: 5%;
    width: 100%;
}

#stars_subdiv{
	float: left;
    width: 20%;	
}

#stars_subdiv img{
    width: 50%;
}

#stars_subdiv #title{
    height: auto;
    text-align: center;
    font-size: 27pt;
    font-weight: bold;
    color: darkred;
    MARGIN-TOP: 4%;
    POSITION: ABSOLUTE;
    MARGIN-LEFT: 8.9%;
    text-shadow: 2px 2px 5px black;
}

#no_open_msg{
	color: white;
    font-size: 12pt;
    font-style: italic;
    position: absolute;
    width: 9%;
    font-weight: bold;
    margin-top: -6%;
    margin-left: 5%;
    background-color: green;
}

}

#form_div {
	width: 35%;
    height: 49%;
    position: absolute;
    margin-left: 33%;
    background-color: darkgreen;
}
