#title{
	color: white;
    font-size: 38pt;
    text-align: center;		
	text-shadow: 1px 1px black;
}

#main{
	background-color: darkred;
}

#christmas_tree_icon{
	position: absolute;
    margin-left: -34%;
    margin-top: 6%;
    height: 83%;
}

#stars_div{
    margin-top: 5%;
    width: 100%;
}

#stars_subdiv{
	float: left;
    width: 20%;
}

#stars_subdiv img{
    width: 24%;
}

.stars_subdiv_1{
    margin-left: 32%;
	position: absolute;
	margin-top: 10%;
}

.stars_subdiv_2{
    margin-left: 42%;
	position: absolute;
	margin-top: 18%;
}

.stars_subdiv_3{
    margin-left: 32%;
	position: absolute;
	margin-top: 30%;
}

.stars_subdiv_4{
    margin-left: 34%;
    position: absolute;
    margin-top: 2%;
}

.stars_subdiv_5{
    margin-left: 40%;
	position: absolute;
	margin-top: 25%;
}

.stars_subdiv_6{
    margin-left: 38%;
	position: absolute;
	margin-top: 28%;
}

.stars_subdiv_7{
    margin-left: 44%;
    position: absolute;
    margin-top: 23%;
}

.stars_subdiv_8{
    margin-left: 36%;
	position: absolute;
	margin-top: 20%;
}

.stars_subdiv_9{
    margin-left: 17%;
	position: absolute;
	margin-top: 39%;
}

.stars_subdiv_10{
    margin-left: 29%;
    position: absolute;
    margin-top: 19%;
}

.stars_subdiv_11{
    margin-left: 33%;
	position: absolute;
	margin-top: 15%;
}

.stars_subdiv_12{
    margin-left: 35%;
    position: absolute;
    margin-top: 8%;
}

.stars_subdiv_13{
    margin-left: 37%;
	position: absolute;
	margin-top: 39%;
}

.stars_subdiv_14{
    margin-left: 32%;
	position: absolute;
	margin-top: 36%;
}

.stars_subdiv_15{
    margin-left: 31%;
	position: absolute;
	margin-top: 21%;
}

.stars_subdiv_16{
    margin-left: 28%;
    position: absolute;
    margin-top: 26%;
}

.stars_subdiv_17{
    margin-left: 46%;
	position: absolute;
	margin-top: 30%;
}

.stars_subdiv_18{
    margin-left: 25%;
    position: absolute;
    margin-top: 37%;
}

.stars_subdiv_19{
    margin-left: 40%;
	position: absolute;
	margin-top: 34%;
}

.stars_subdiv_20{
    margin-left: 42%;
	position: absolute;
	margin-top: 12%;
}

.stars_subdiv_21{
    margin-left: 41%;
	position: absolute;
	margin-top: 5%;
}

.stars_subdiv_22{
    margin-left: 49%;
    position: absolute;
    margin-top: 38%;
}

.stars_subdiv_23{
    margin-left: 61%;
    position: absolute;
    margin-top: 39%;
}

.stars_subdiv_24{
    margin-left: 46%;
    position: absolute;
    margin-top: 17%;
}

.stars_subdiv_25{
    margin-left: 56%;
    position: absolute;
    margin-top: 42%;
}

#stars_subdiv #title{
    height: auto;
    text-align: center;
    font-size: 17pt;
    font-weight: bold;
    color: white;
    MARGIN-LEFT: 47.9%;
    text-shadow: 2px 2px 5px black;
    margin-top: 25%;
    position: absolute;
}

#no_open_msg{
	color: white;
    font-size: 12pt;
    font-style: italic;
    position: absolute;
    width: 9%;
    font-weight: bold;
    margin-top: -6%;
    margin-left: 5%;
    background-color: green;
}

}

#form_div {
	width: 35%;
    height: 49%;
    position: absolute;
    margin-left: 33%;
    background-color: darkgreen;
}
